/* Landing.module.css */
.container {
    min-height: '100%';
    background-image: url('/img/Nzirani EDucation2.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    
  } 
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: '100%';
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1rem;
    border-radius: 10px;
  }
  